@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Catamaran";
  /* font-weight: 800; */
}
.head{
  font-family: "Catamaran";
  padding-left: 1rem;
  font-weight: 800;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: white;
}

main {
  width: auto;
  height: auto;
  background-image: linear-gradient(135deg, #89f7fe, #66a6ff);
  overflow-x: hidden;
}

p {
  text-align: justify;
}

header {
  width: 100%;
  padding-top: 5vh;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

header ul li {
  cursor: pointer;
  position: relative;
  padding: 0px 5px;
  padding-bottom: 5px;
}

header ul li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

header ul li:hover::before,
header ul li.active::before {
  background-color: white;
  transform: scaleY(1);
}

header ul li:hover,
header ul li.active {
  color: white;
}

.headingSection{
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
}

.headingSection div{
  display: flex;
  gap: 2rem;
  margin-right: 5rem;
}
.headingSection div i{
  cursor: pointer;
}
.aboutSection {
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;

}

.aboutSection .intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

main .aboutSection .intro h1{
  text-align: center;
  width: 100%;
}

main .aboutSection .intro span{
  width: 100%;
  text-align:end;
  font-size: 20px;
}

.aboutSection .imageSection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutSection .imageSection img{
  width: 90%;
}

/* .button-63 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 10px 20px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
} */

.primaryButton{
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: rgb(186, 178, 178);
  color: white;
}

.primaryButton:hover{
  background-color: #4caf50;
  transition: background-color 0.2s ease-in;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}


.educationSection {
  display: flex;
  overflow-x: hidden;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: relative; 
  gap: 1rem;
}

.educationSection > div {
  flex: 0 0 50%; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.educationSection > div > p{
  padding-right: 2rem;
}
.projects .educationSection .graduate .projectImage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects .educationSection .graduate .projectImage img{
  width: 90%;
}
.projects .educationSection .graduate .projectDescription{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projects .educationSection .graduate .projectDescription p{
  padding-right: 2rem;
}

.projects{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

}

.projectSections{
  display: flex;
}

/* Experience */

.experience{
  padding: 1rem 0rem;
  margin-left: 1rem;
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.experience .imgsection{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience .imgsection img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}

.experience .companyInfo{
  gap: 0.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.experience .companyInfo p{
  padding-right:1rem;
}


/* Skills */
.skillsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.skillsSection .skill-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.skillsSection .circle {
  width: 100px;
  height: 100px;
  background: conic-gradient(#4caf50 0%, #ddd 0%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fillCircle 2s ease forwards;
}

.skillsSection .inner-circle {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsSection .percentage {
  font-size: 1.2em;
  font-weight: bold;
}

.skillsSection .skill-name {
  margin-top: 10px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

@keyframes fillCircle {
  0% {
    background: conic-gradient(#4caf50 0%, #ddd 0%);
  }
  100% {
    background: conic-gradient(#4caf50 0% calc(var(--percentage) * 1%), #ddd calc(var(--percentage) * 1%) 100%);
  }
}




/* Contact */
.contact{
  margin-bottom: 1rem;
}
.contact-main {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.section1 img {
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.section1 div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section2 form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

input[type="text"] {
  width: 330px;
  font-size: 14px;
  font-weight: light;
  margin: 0.7rem 0;
  padding: 0.7rem;
  border: none;
  outline: none;
  border-radius: 10px;
}

#text {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: light;
  padding: 15px;
  outline: none;
  margin-bottom: 1rem;
}

/* input[type="submit"] {
  height: 3rem;
  width: 250px;
  margin-top: 1rem;
  border-radius: 18px;
  background-color: #df5b5b;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
} */



@media (max-width: 600px) {
  header {
    padding-left: 1rem;
  }
  header ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
  main .aboutSection {
    display: flex;
    flex-direction: column;
  }

  .educationSection > div {
    /* flex-direction: column; */
    flex: 0 0 100%;
  }
  .headingSection div{
    margin-right: 10px;
  }
  .experience{
    flex-direction: column;
  }
  .experience .imgsection{
    width: 100%;
  }
  .experience .companyInfo{
    width: 90%;
  }
  .skillsSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .aboutSection .intro{
    width: 100%;
  }
  .aboutSection .imageSection{
    width: 100%;
  }
  .experience{
    margin: 0px;
  }
  .contact-main{
    flex-direction: column;
  }
.contact .contact-main .section1 div a{
  display: none;
}
.contact .contact-main .section1{
  flex-direction: row;gap: 2rem;
}
input[type="text"]{
  width: 300px;
}
#text{
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
.section2 form{
  display: flex;
  justify-content: center;
  align-items: center;
}
}
